:root {
  --color-interface-background-primary: #fff;
  --color-interface-background-secondary: #ebf1ff;
  --color-interface-background-tertiary: #1d4a88;
  --color-interface-background-quaternary: #111827;
  --color-interface-background-quinary: #F3F6FD;
  --color-interface-background-box-shadow-primary: #ccc;
  --color-interface-background-box-shadow-secondary: #1C3FCA24;
  --color-interface-error-box-primary: #fdefed;
  --color-interface-text-primary: #111827;
  --color-interface-text-secondary: #6b7280;
  --color-interface-text-tertiary: #fff;
  --color-interface-text-quaternary: #374151;
  --color-interface-border-primary: #ecedf3;
  --color-interface-border-secondary: #d2d5db;
  --color-interface-border-highlight: #4288d4;
  --color-interface-icon-highlight: #1c3fca;
  --color-action-text-primary-default: #fff;
  --color-action-text-primary-hover: #fff;
  --color-action-text-primary-disabled: #f5f6fb;
  --color-action-border-primary-default: #1c3fca;
  --color-action-border-primary-hover: #1c3fca;
  --color-action-border-primary-disabled: #a3baf9;
  --color-action-background-primary-default: #1c3fca;
  --color-action-background-primary-hover: #1c3fca;
  --color-action-background-primary-disabled: #a3baf9;
  --color-action-text-secondary-default: #1c3fca;
  --color-action-text-secondary-hover: #1c3fca;
  --color-action-text-secondary-disabled: #1c3fca;
  --color-action-border-secondary-default: #1c3fca;
  --color-action-border-secondary-hover: #1c3fca;
  --color-action-border-secondary-disabled: #1c3fca;
  --color-action-background-secondary-default: #ebf3fb;
  --color-action-background-secondary-hover: #fff;
  --color-action-background-secondary-disabled: #fff;
  --color-input-background-default: #fff;
  --color-input-background-disabled: #f7f7f7;
  --color-input-background-focus: #fff;
  --color-input-text-default: #000;
  --color-input-text-primary: #4B5563;
  --color-input-text-disabled: #9ca3af;
  --color-input-text-focus: #000;
  --color-input-text-placeholder-default: #cfd1d4;
  --color-input-text-placeholder-disabled: #6b7280;
  --color-input-text-msg-error: #e22853;
  --color-input-text-placeholder-focus: #6b7280;
  --color-input-border-default: #9ca3af;
  --color-input-border-focus: #1c3fca;
  --color-input-border-active: #9ca3af;
  --color-input-border-disabled: #9ca3af;
  --color-input-border-error: #e22853;
  --color-input-box-shadow-error-default: #E2285324;
  --color-action-stepper-style: linear-gradient(90deg, rgb(211 214 220) 50%, rgba(255 255 255 / 0%) 100%);
  --color-interface-fd-background-primary: #08173A;
  --color-interface-fd-background-secondary: #DDF2F8;
  --color-interface-button-background: #1C3FCA;
  --color-interface-fd-title-border: #525D75;
  --color-action-scroll-primary: #4F6FDF;
  --color-action-scroll-background-primary: #f5f6fb;
  --color-interface-popup-background: #00000080;
  --color-interface-fileupload-border: #B9D7CA;
  --color-interface-fileupload-background: #FAFFFD;
  --color-interface-error-cta-background: #F4F0FF;
  --color-interface-feedback-notlikelyrating: #ED5A6E;
  --color-interface-feedback-mayberating: #F99F35;
  --color-interface-feedback-verylikelyrating : #2DB780;
  --color-interface-promotion-background-primary: #FDEDFA;
  --color-interface-promotion-text-primary: #7454F2;
  --color-interface-promotion-text-secondary: #AB47BC;
}
