:root {
  --color-interface-background-primary: #fff;
  --color-interface-background-secondary: #ebf1ff;
  --color-interface-background-tertiary: #1d4a88;
  --color-interface-background-quaternary: #111827;
  --color-interface-background-quinary: #F3F6FD;
  --color-interface-background-box-shadow-primary: #ccc;
  --color-interface-error-box-primary: #fdefed;
  --color-interface-text-primary: #111827;
  --color-interface-text-secondary: #6b7280;
  --color-interface-text-tertiary: #fff;
  --color-interface-text-quaternary: #374151;
  --color-interface-border-primary: #ecedf3;
  --color-interface-border-secondary: #d2d5db;
  --color-interface-border-highlight: #4288d4;
  --color-interface-icon-highlight: #1c3fca;
  --color-action-text-primary-default: #fff;
  --color-action-text-primary-hover: #fff;
  --color-action-text-primary-disabled: #f5f6fb;
  --color-action-border-primary-default: #1c3fca;
  --color-action-border-primary-hover: #1c3fca;
  --color-action-border-primary-disabled: #a3baf9;
  --color-action-background-primary-default: #1c3fca;
  --color-action-background-primary-hover: #1c3fca;
  --color-action-background-primary-disabled: #a3baf9;
  --color-action-text-secondary-default: #1c3fca;
  --color-action-text-secondary-hover: #1c3fca;
  --color-action-text-secondary-disabled: #1c3fca;
  --color-action-border-secondary-default: #1c3fca;
  --color-action-border-secondary-hover: #1c3fca;
  --color-action-border-secondary-disabled: #1c3fca;
  --color-action-background-secondary-default: #fff;
  --color-action-background-secondary-hover: #fff;
  --color-action-background-secondary-disabled: #fff;
  --color-input-background-default: #fff;
  --color-input-background-disabled: #f7f7f7;
  --color-input-background-focus: #fff;
  --color-input-text-default: #000;
  --color-input-text-primary: #4B5563;
  --color-input-text-disabled: #9ca3af;
  --color-input-text-focus: #000;
  --color-input-text-placeholder-default: #6b7280;
  --color-input-text-placeholder-disabled: #6b7280;
  --color-input-text-msg-error: #e22853;
  --color-input-text-placeholder-focus: #6b7280;
  --color-input-border-default: #9ca3af;
  --color-input-border-focus: #1c3fca;
  --color-input-border-active: #9ca3af;
  --color-input-border-disabled: #9ca3af;
  --color-input-border-error-default: #e30613;
  --color-action-stepper-style: linear-gradient(90deg, rgb(211 214 220) 50%, rgba(255 255 255 / 0%) 100%);
}
