@import url("../../styles/color-palette.css");

.wizardPanelBody.nre {
  & .cmp-container-container {
    display: none;

    &~.form-container {
      width: 100%;
      max-width: inherit !important;
    }
  }

  & header {
    height: 100px !important;

    &~main {
      overflow: initial;
    }
  }
}


.nre {
  main {
    display: flex;

    & .field-invalid:has(.field-description) {
      input {
        border-color: var(--color-input-border-error) !important;
        box-shadow: 0 0 0 2px var(--color-input-box-shadow-error-default);
        outline: none;
      }
    }

    .field-consentsfragmentnrenro .checkbox-wrapper.field-checkboxconsent1label {
      flex-wrap: wrap;

      @media (320px <=width <=480px) {
        margin-bottom: 10px !important;
      }

      .field-description {
        margin-top: -7px;
        margin-bottom: 5px;
        line-height: 24px;
        font-weight: 400;
        color: var(--color-input-text-msg-error);
      }
    }

    .field-consentsfragmentnrenro .checkbox-wrapper input[type="checkbox"] {
      border-radius: 5px;
      border: 2px solid #ddd;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      padding: 0;

      &:hover,
      &:checked {
        background: var(--color-interface-icon-highlight) url("../icons/checkbox-checked-arrow.png") no-repeat center center;
        border: none;
        cursor: pointer;
      }
    }

    &>.cmp-container-container {
      background-color: white !important;
      flex: 0 0 34%;
      display: initial;
    }

    .form form .field-letsgetstarted p {
      font-size: 28px !important;
      line-height: 36px;
      font-weight: 600;
      color: var(--color-interface-background-quaternary) !important;
      margin-bottom: 0;
    }

    .form form .plain-text-wrapper.field-letsgetstarted p {
      margin-bottom: 5px;
    }

    .form form .field-wrapper.col-6 {
      grid-column: inherit !important;
    }

    .form form .field-wrapper.col-12.radio-group-wrapper {
      display: flex !important;
    }

    .field-pan[data-active="true"] .field-label {
      margin-left: 3px !important;
      background: #ffff;
    }

    .form form .field-wrapper.col-12.radio-group-wrapper legend {
      font-size: 18px !important;
      line-height: 24px;
      font-weight: 600;
      color: var(--color-interface-background-quaternary) !important;
    }

    .form form .field-wrapper #pandobselection-1 {
      margin-left: 32px;
    }

    .form input[name="dateOfBirth"] {
      max-width: 320px !important;
      font-size: 20px !important;
      color: rgb(17, 24, 39);
      letter-spacing: 6px;
      border-color: var(--color-interface-border-secondary);
      margin-bottom: 0;

      &:focus-visible {
        outline: none;
      }

      @media (768px <=width <=991px) {
        max-width: 298px !important;
      }
    }

    .form form .panel-wrapper.field-consentsfragmentnrenro.field-wrapper p {
      font-size: 14px !important;
      line-height: 20px;
      font-weight: 400;

      a {
        text-decoration: underline;
      }
    }

    .form form .field-wrapper .button-wrapper {
      /* margin: 0 !important; */
      text-align: left;
      position: relative;
      width: 272px;

      @media (320px <=width <=991px) {
        width: 100% !important;
      }
    }

    .form form .field-wrapper .button-wrapper.field-submitotp::after {
      content: url("../../icons/Arrow.png");
      position: absolute;
      right: 27%;
      top: 10px;
    }


    .form form .panel-wrapper.field-stepstofollowfragment {
      .field-stepstofollowtitle p {
        font-weight: 600;
        font-size: 24px !important;
        line-height: 32px;
      }

      background: var(--color-interface-background-quinary);
      padding: 20px;
      border-radius: 20px;
    }

    .form form .panel-wrapper.field-stepstofollow.field-wrapper.col-span-12 {
      @media screen and (min-width: 768px) {
        column-gap: 72px !important;
        text-align: center;
      }

      @media (768px <=width <=991px) {
        display: block;
      }
    }

    .form form .panel-wrapper.field-stepstofollow p {
      font-size: 14px !important;
      line-height: 20px;
      font-weight: 400;
      max-width: 134px;

      @media (768px <=width <=991px) {
        max-width: initial;
        text-align: left;
        margin-left: 25px;
        margin-top: 0px;
      }
    }

    .form form .panel-wrapper.field-stepstofollow .field-step1panel p {
      @media (768px <=width <=991px) {
        margin-top: -5px;
      }
    }

    .form form .panel-wrapper.field-loginfragmentnrenro.field-wrapper {

      @media (320px <=width <=600px) {
        margin-bottom: 20px;
        margin-top: 20px;
      }

      fieldset.panel-wrapper.field-mobilepanel.field-wrapper {
        position: relative;

        @media screen and (min-width: 768px) {
          padding-top: 23px;
          border-top: 1px dotted var(--color-interface-border-secondary);
        }

        @media (768px <=width <=991px) {
          display: grid;
        }
      }
    }


    .form form .panel-wrapper.field-identifierpanel .radio-wrapper label {
      font-weight: 500;
      color: var(--color-interface-text-primary);
    }

    .form form .panel-wrapper.field-stepstofollow fieldset img {
      padding-right: 90px;
    }

    .form form .panel-wrapper.field-stepstofollow fieldset div.plain-text-wrapper.field-wrapper {
      @media screen and (min-width: 768px) {
        margin-bottom: 0px;
      }

      &.field-step1text {
        @media screen and (min-width: 768px) {
          margin-bottom: 40px;
          margin-top: 30px;
        }

        @media (768px <=width <=991px) {
          margin-bottom: 0px;
          margin-top: 0px;
        }
      }

      &.field-step2text {
        @media screen and (min-width: 768px) {
          margin-bottom: 40px;
          margin-top: 30px;
        }

        @media (768px <=width <=991px) {
          margin-bottom: 0px;
          margin-top: 0px;
        }
      }

      &.field-step3text {
        @media screen and (min-width: 768px) {
          margin-bottom: 40px;
          margin-top: 30px;
        }

        @media (768px <=width <=991px) {
          margin-bottom: 0px;
          margin-top: 0px;
        }
      }

      &.field-step4text {
        @media screen and (min-width: 768px) {
          margin-top: 0px;
          margin-top: 30px;
        }

        @media (768px <=width <=991px) {
          margin-bottom: 0px;
          margin-top: 0px;
        }
      }

      &.field-step5text {
        @media screen and (min-width: 768px) {
          margin-bottom: 42px;
          margin-top: 30px;
        }

        @media (768px <=width <=991px) {
          margin-bottom: 0px;
          margin-top: 0px;
        }
      }
    }

    .form form .panel-wrapper.field-stepstofollow fieldset.field-step1panel {
      position: relative;

      div.image-wrapper.field-wrapper {
        @media screen and (min-width: 768px) {
          margin-top: 15px;
          height: 25px;
          position: absolute;
          content: url("../icons/mobile-number.png");
          top: -28px;
          left: 50px;
        }

        @media (768px <=width <=991px) {
          top: 0;
          left: 0;
          margin-top: -15px;
          width: 40px;
          height: 40px;
        }
      }

      @media (768px <=width <=991px) {
        margin-bottom: 25px;
      }
    }

    .form form .panel-wrapper.field-step2panel.field-wrapper {
      position: relative;

      div.image-wrapper.field-submitotpicon.field-wrapper {
        @media screen and (min-width: 768px) {
          margin-top: 15px;
          height: 25px;
          position: absolute;
          content: url("../icons/submitotp.png");
          top: -28px;
          left: 50px;
        }

        @media (768px <=width <=991px) {
          top: 0;
          left: 0;
          margin-top: -10px;
          width: 40px;
          height: 40px;
        }
      }

      @media (768px <=width <=991px) {
        margin-bottom: 25px;
      }
    }

    .form form .panel-wrapper.field-step3panel.field-wrapper {
      position: relative;

      div.image-wrapper.field-selectaccounticon.field-wrapper {
        @media screen and (min-width: 768px) {
          margin-top: 15px;
          height: 25px;
          position: absolute;
          content: url("../icons/account.png");
          top: -28px;
          left: 50px;
        }

        @media (768px <=width <=991px) {
          top: 0;
          left: 0;
          margin-top: -10px;
          width: 40px;
          height: 40px;
        }
      }

      @media (768px <=width <=991px) {
        margin-bottom: 25px;
      }
    }

    .form form .panel-wrapper.field-step4panel.field-wrapper {
      position: relative;

      div.image-wrapper.field-confirmdetailsicon.field-wrapper {
        @media screen and (min-width: 768px) {
          margin-top: 15px;
          height: 25px;
          position: absolute;
          content: url("../icons/confirmdetails.png");
          top: -28px;
          left: 50px;
        }

        @media (768px <=width <=991px) {
          top: 0;
          left: 0;
          margin-top: -10px;
          width: 40px;
          height: 40px;
        }
      }

      @media (768px <=width <=991px) {
        margin-bottom: 25px;
      }
    }

    .form form .panel-wrapper.field-step5panel.field-wrapper {
      position: relative;

      div.image-wrapper.field-accountopendicon.field-wrapper {
        @media screen and (min-width: 768px) {
          margin-top: 15px;
          height: 25px;
          position: absolute;
          content: url("../icons/confirmdetails.png");
          top: -28px;
          left: 50px;
        }

        @media (768px <=width <=991px) {
          top: 0;
          left: 0;
          margin-top: -10px;
          width: 40px;
          height: 40px;
        }
      }

      @media (768px <=width <=991px) {
        margin-bottom: 25px;
      }
    }

    .form form .panel-wrapper.field-stepstofollow-additionalinfopanel p {
      font-size: 14px !important;
      line-height: 20px;
      font-weight: 400;
      color: var(--color-interface-text-quaternary);
    }

    .form form .panel-wrapper.field-stepstofollow-additionalinfopanel {
      @media screen and (min-width: 768px) {
        margin-top: 20px;
      }
    }

    .form form .panel-wrapper.field-stepstofollow-additionalinfopanel legend {
      font-size: 20px !important;
      line-height: 28px;
      font-weight: 600;
      color: var(--color-interface-background-quaternary);
    }

    .form form .field-wrapper.col-6.field-mobilepanel {
      display: flex;
    }

    .form .field-countrycode {
      position: relative;
      border: 1px solid var(--color-input-border-default);
      width: 320px;
      border-radius: 8px;

      @media (768px <=width <=991px) {
        width: 300px;
      }

      @media (320px <=width <=480px) {
        width: 100%;
      }
    }

    .form .field-registeredmobilenumber input[name="registeredMobileNumber"] {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      width: 225px !important;
      font-size: 18px !important;
      color: rgb(17, 24, 39);
      letter-spacing: 9px;
      border-color: var(--color-interface-border-secondary);
      border-left: 0;
      padding-left: 0px;
      margin: 0;
      border: none;
      background-color: transparent;

      &:focus-visible {
        outline: none;
      }
    }

    .form .field-countrycode select[name="countryCode"] {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      /*  padding-left: 0 !important; */
      padding-right: 0 !important;
      border-color: var(--color-interface-border-secondary) !important;
      max-width: 75px;
      width: 75px;
      border-right: 0 !important;
      -moz-appearance: none;
      /* Firefox */
      -webkit-appearance: none;
      /* Safari and Chrome */
      appearance: none;
      background: url('./../icons/select_arrow.png') no-repeat right center;
      background-size: 20px;
      margin: 0;
      position: relative;
      border: none !important;

      &:focus-visible {
        outline: none;
      }
    }

    .form .field-countrycode::before {
      content: '|';
      color: #f0f0f0;
      margin-left: 80px;
      padding-right: 5px;
      position: absolute;
      top: 7px;
      border-width: .5px;
      z-index: 2;
    }

    .form :is([data-active="true"], [data-empty="false"], .date-wrapper):not(.field-joiningrenewalfee,
      .field-nooffds,
      .field-customername,
      .field-creditlimit,
      .field-fdnumber,
      .field-selectedfdamount,
      .field-maturingdate,
      .field-eligiblecreditlimitamount,
      .field-joiningfeeamt,
      .field-renewalfeeamt)>label {
      margin-left: -90px;

    }

    .form.block {
      border-radius: 0 !important;
    }

    input[name="pan"] {
      max-width: 320px !important;
    }

    .cmp-container-wrapper {
      padding: 0 !important;
      border-bottom: none !important;
      content: url("../../icons/nre_nro_desktop_banner.png");
      width: 100% !important;
      /* max-height: 40%; */
      margin: inherit;
    }

    .form .field-registeredmobilenumber {
      position: absolute;
      left: 95px;

      @media (768px <=width <=991px) {
        left: 0;
      }

      label {
        top: -7px;
        margin-left: 5px;

        @media (768px <=width <=991px) {
          left: 91px;
          top: 17px;
        }
      }

      input[name="registeredMobileNumber"] {
        @media (768px <=width <=991px) {
          left: 90px;
          top: 24px;
          width: 210px !important;
          position: absolute;
        }
      }
    }

    .form-container {
      margin: 0 !important;
      flex: 1;
    }

    div.date-wrapper.field-dateofbirth.field-wrapper label {
      margin-left: 6px;
      display: none;
    }

    div.date-wrapper.field-dateofbirth.field-wrapper .field-description {
      margin-top: 5px;
    }

    .field-checkboxconsent1text {
      margin-top: 30px !important;
    }

    div.checkbox-wrapper.field-checkboxconsent1label.field-wrapper p {
      margin-bottom: 0 !important;
      margin-top: 4px;
    }

    div.checkbox-wrapper.field-checkboxconsent2label.field-wrapper p {
      margin-bottom: 0 !important;
      margin-top: 4px;
    }

    div.plain-text-wrapper.field-doberrortext.field-wrapper p {
      margin-top: -33px;
      font-size: 14px !important;
      line-height: 24px;
      font-weight: 400;
      color: var(--color-input-text-msg-error) !important;
    }

    div.plain-text-wrapper.field-panerrortext.field-wrapper p {
      margin-top: -33px;
      font-size: 14px !important;
      line-height: 24px;
      font-weight: 400;
      color: var(--color-input-text-msg-error) !important;
    }
  }

  main .form.block .field-otppanel {
    & .field-otpsubpanel {
      .plain-text-wrapper {
        width: max-content;
      }
    }
  }

  main .form.block .field-otppanel {
    & .field-otpsubpanel {
      .field-numretries {
        position: absolute;
        margin-right: 100px;
        margin-top: 0;
      }
    }

    .field-maxattemptmessage[data-visible="true"] {
      p {
        font-size: 12px !important;
        color: var(--color-input-text-msg-error) !important;
        font-weight: 400;
      }

      &~.field-otpsubpanel {
        .field-attempts p {
          margin-left: 102px;
        }
      }
    }
  }

  /* main .form.block .field-otppanel {
    & .field-otpresend {
      .button {
        margin-left: 15px;
      }
    }
  } */

  div.plain-text-wrapper.field-registermobilenumbererror {
    display: block;
    width: 100%;

    p {
      margin-top: -15px;
      font-size: 16px !important;
      line-height: 24px;
      font-weight: 400;
      color: var(--color-input-text-msg-error) !important;
    }
  }

  /* OTP Panel Styling */

  .field-otppanelwrapper {
    grid-template-rows: auto auto 270px;

    input[name="otpNnumber"] {
      width: 100%;
      max-width: 100%;
    }

    .field-otppanel {
      max-width: 100% !important;
      grid-template-rows: auto;
      padding: 40px 40px 0 10px;

      @media (320px <=width <=600px) {
        padding: 40px 0px 0 0px;
      }

      .field-otppanel {
        text-align: left;

        .field-otpsubpanel {
          width: 100%;
          max-width: 100%;
          margin-left: 169px;
          margin-top: -25px;

          .field-numretries {
            margin: -6px -14px 0 -30px;

            input {
              font-size: var(--body-fd-sm-font-size) !important;
              letter-spacing: normal !important;
              color: var(--color-interface-text-secondary) !important;
            }
          }
        }
      }

      legend {
        text-align: left;

        b {
          color: var(--color-interface-background-quaternary);
          font-size: 28px;
          line-height: 36px;
          font-weight: 600;
        }
      }

      .field-attempts p p {
        margin-top: -7px;
        color: #6b7280 !important;
        font-size: var(--body-sm-font-size) !important;
        font-weight: 400;

        @media (320px <=width <=600px) {
          margin-left: 38px;
          margin-top: -5px !important;
        }
      }

      .field-otphelptext {
        margin-top: -60px;
        font-size: 12px !important;
        line-height: 20px;
        font-weight: 400;
        text-align: left;

        p {
          color: var(--color-input-text-primary);
          font-size: 12px !important;
          line-height: 20px;
          font-weight: 400;
          display: inline-block;
        }
      }

      .field-otpnumber {
        margin: -28px 0 -18px;
        grid-column: span 12;

        @media (320px <=width <=991px) {
          grid-column: span 12;
        }

        input {
          width: 100% !important;
          max-width: 100%;
          letter-spacing: 65px !important;
          height: 60px !important;
        }

        input::placeholder {
          font-size: 36px !important;
          letter-spacing: 51px !important;
          color: var(--color-input-text-placeholder-default);
        }
      }

      .field-otpsubpanel {
        @media (768px <=width <=991px) {
          grid-column: span 8;
        }

        @media (320px <=width <=600px) {
          grid-column: span 8;
        }

        .field-numretries {
          input {
            @media (320px <=width <=600px) {
              margin-top: 4px !important;
            }
          }
        }
      }

      .field-secondspanel {
        display: flex;
        flex-direction: row;
        grid-column: span 6;

        @media (320px <=width <=600px) {
          grid-column: span 6;
        }

        .field-seconds {
          input {
            border: none;
            padding-left: 0;
            width: 55px;
            font-size: var(--body-sm-font-size) !important;
            color: var(--color-interface-background-quaternary) !important;
            font-weight: 600;
            margin-top: 6px;

            @media (320px <=width <=600px) {
              margin-top: 3px;
            }
          }
        }

        .field-sectext p {
          font-size: var(--body-sm-font-size) !important;
        }
      }

      .field-resendotplabel {
        margin: 17px 0 0;
        width: fit-content;

        @media (320px <=width <=600px) {
          margin: 11px 0 0;
        }

        p {
          font-size: var(--body-sm-font-size) !important;
          color: #6b7280 !important;
          padding: 0;
          font-weight: 400;
        }
      }

      .field-seconds {
        margin: -1px 0 0 -15px;
        width: fit-content;

        input[type="number"] {
          border: none;
          width: 50px;
          margin: 0;
          padding: 0;
          pointer-events: none;
          appearance: none;
        }
      }

      .field-sectext {
        width: fit-content;
        margin: 17px 0 0 -54px;
        font-weight: 600;

        @media (320px <=width <=600px) {
          margin: 12px 0 0 -54px;
        }

        p {
          font-size: var(--body-fd-sm-font-size);
        }
      }

      .field-maxattemptmessage[data-visible="true"] {
        margin-top: 15px;
        grid-column: span 6;

        @media (768px <=width <=991px) {
          grid-column: span 6;
          margin-top: 13px;
        }

        @media (320px <=width <=600px) {
          grid-column: span 12;
          margin-top: 0;

          p {
            font-size: 12px !important;
            margin-bottom: 0;

          }
        }

        p {
          font-size: 12px;
          font-weight: 400;
          color: var(--color-input-text-msg-error);
          text-align: left;
        }

        &~.field-otpsubpanel {
          margin-top: 0;
          grid-column: span 6;

          @media (768px <=width <=991px) {
            grid-column: span 6;
          }

          @media (320px <=width <=600px) {
            grid-column: span 12;
            margin-top: -20px;
          }
        }
      }
    }
  }

  .field-otppanel:has(.field-secondspanel) {
    .field-otpsubpanel {
      grid-column: span 6;
      margin: 5px 0 0;

      /*  @media (768px <=width <=991px) {
        grid-column: span 6;
      } 

      @media (320px <=width <=600px) {
        grid-column: span 6;
      }*/

      .field-numretries {
        input {
          margin-top: 7px;
        }
      }
    }
  }


  .field-otppanel:has(.field-secondspanel) {
    .field-otpresend {
      margin-top: 3px;
      grid-column: span 6;

      @media (768px <=width <=991px) {
        margin-top: 4px;
      }

      @media (320px <=width <=600px) {
        grid-column: span 6;
      }

      &~.field-otpsubpanel {
        @media (320px <=width <=600px) {
          margin: -3px;

        }
      }
    }
  }

  .field-submitotp {
    padding: 0 20px 40px;
    margin-left: 100px;
    margin-top: 0 !important;
    width: 85% !important;
    text-align: center !important;

    button {
      width: 272px;
    }
  }

  .field-submitotp::after {
    right: 42% !important;
    top: 10px;
    height: 20px;
    width: 20px !important;
  }
}

header {
  background: var(--color-interface-fd-background-primary);

  .cmp-container {
    max-width: none;
  }

  .cmp-container>div:nth-child(1) {
    picture img {
      margin-left: 55px;

      @media (768px <=width <=991px) {
        margin-left: 20px;
      }

      @media (320px <=width <=600px) {
        margin-left: 10px;
      }
    }

    @media screen and (min-width: 768px) {
      margin-left: 20px;
    }
  }

  .cmp-container>div:nth-child(2) {
    display: none;
  }

  .cmp-container>div:nth-child(3) {
    position: absolute;
    width: 110px;
    top: 0.5em;
    height: 32px;
    content: url(../icons/header-safe-secure.png);
    padding: 0;
  }
}

footer {
  background: var(--color-interface-fd-background-primary);

  & .cmp-container {
    div>div {
      margin-right: -25px;
      text-align: center;
    }
  }
}

/* personal details */
main .form form .wizard.field-wizardnrenro {
  padding: 0;
}

main .form fieldset.field-personaldetails,
main .form fieldset.field-fatcadetails,
main .form fieldset.field-financialdetails,
main .form fieldset.field-nomineedetails {
  border: 1px solid var(--color-interface-border-primary);
  border-radius: 20px;
  padding-bottom: 20px;

  legend {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: var(--color-interface-text-primary);
    padding: 15px 20px;
    background: linear-gradient(270deg, #F3F6FD 0%, #F3F6FD 100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0;
  }

  & .text-wrapper.field-wrapper {
    padding: 20px;
  }
}

main .form fieldset.field-nomineedetails .field-wrapper {
  legend.field-label {
    display: none;
  }

  .plain-text-wrapper {
    padding: 20px 20px 0 20px;

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: var(--color-interface-text-primary);
    }
  }

  &~.plain-text-wrapper {
    display: none;
  }
}

main .form fieldset.field-personaldetails .field-wrapper[data-active="true"] label {
  margin: 0;
  font-size: 14px;
  color: #6B7280;
  line-height: 20px;
  font-weight: 400;
}

main .form form {

  .field-wizardnrenro,
  .field-wizardpanel {
    .wizard-menu-items {
      height: 84px;
      border-radius: 20px;
      border: 1px solid #ECEDF3;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 0;
      margin-top: -50px;
      background: #fff;
      gap: 25px;

      @media (min-width: 768px) {
        gap: 80px;
        margin-top: -70px;
      }

      @media (min-width: 992px) {
        gap: 80px;
        margin-top: -84px;
      }

      .wizard-menu-item {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--color-interface-text-primary);
        position: relative;

        @media (min-width: 768px) {
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
        }

        @media (min-width: 992px) {
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
        }

        &:first-child {
          &::before {
            background: url('../icons/step_select_account-select.png') no-repeat center center;
            border-color: var(--color-action-border-primary-default);
          }

          &.wizard-menu-active-item {
            color: var(--color-interface-icon-highlight);
            font-weight: 600;

            &::before {
              background: var(--color-input-border-focus) url('../icons/step_select_account.png') no-repeat center center;
              border: 2px solid #c6d4ff;
            }
          }
        }

        &:nth-child(2) {
          &::before {
            background: url('../icons/step-confirm-details.png') no-repeat center center;
            /* border: 2px solid #c6d4ff; */
          }

          &.wizard-menu-active-item {
            &::before {
              background: var(--color-input-border-focus) url('../icons/step-confirm-details-select.png') no-repeat center center;
            }
          }
        }

        &:nth-child(3) {
          &::before {
            background: url('../icons/step-verify.png') no-repeat center center;
          }

          &::after {
            display: none;
          }
        }

        &::before {
          border: 1.5px solid var(--color-interface-border-secondary);
          border-radius: 15px;
          color: transparent;
        }

        &::after {
          content: '';
          border-top: 3px solid var(--color-interface-border-primary);
          height: 0px;
          width: 40px;
          position: absolute;
          top: 18px;
          right: -58px;
        }

      }
    }

    .field-confirmdetails {
      margin-top: 20px;

      &>.field-label {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        color: var(--color-interface-text-primary);
        margin-bottom: 25px;
        display: block;
      }
    }

    /* .wizard-button-wrapper {
      display: none !important;
    } */
  }

  /* select account screen */

  .field-selectaccount {
    .field-customername.field-wrapper.text-wrapper {
      display: flex;
      margin-top: 20px;

      .field-label,
      input[type="text"] {
        margin: 0;
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        color: var(--color-interface-text-primary);
        transform: none;
        position: inherit;
        padding-left: 0;
        height: auto;

        @media (min-width: 768px) {
          font-size: 24px;
          line-height: 32px;
        }

        @media (min-width: 992px) {
          font-size: 28px;
          line-height: 36px;
        }
      }

      input[type="text"] {
        padding: 0px 0 0 10px;
        height: auto;
        border: none;
        margin-top: -10px;

        @media (min-width: 768px) {
          margin-top: 0;
        }


        &:focus-visible {
          outline: none;
        }
      }

      &~.plain-text-wrapper p {
        color: var(--color-input-text-primary) !important;
        font-size: 12px !important;
        line-height: 20px;
        font-weight: 400;
        margin-top: -5px;
        margin-bottom: 30px;

        @media (min-width: 768px) {
          font-size: 14px !important;
          line-height: 20px;
          margin-top: -20px;
        }

        @media (min-width: 992px) {
          font-size: 16px !important;
          line-height: 24px;
          font-weight: 400;
        }
      }
    }

    .field-wrapper.text-wrapper {

      &.field-customerid,
      &.field-accountnumber,
      &.field-accounttype,
      &.field-ifsc,
      &.field-branch {
        height: 60px;
      }

      @media (min-width: 768px) {
        font-size: 14px !important;
        line-height: 20px;
        margin-top: -20px;
      }

      @media (min-width: 992px) {
        font-size: 16px !important;
        line-height: 24px;
        font-weight: 400;
      }

      .field-label {
        margin: 0;
        padding: 0;
        transition: none;
        position: inherit;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: var(--color-interface-text-secondary);
        transform: none;
        display: block;

        @media (min-width: 768px) {
          font-size: 14px;
        }
      }

      input {
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        color: var(--color-interface-background-quaternary);
        margin-top: -2px;
        position: absolute;

        &:focus-visible {
          outline: none;
        }
      }

      &[data-active="true"] {
        label {
          margin: 0;
          transform: none;
        }
      }
    }

    /* second block multipleAccounts  */
    .field-multipleaccounts {
      border: 1px dotted var(--color-interface-border-secondary);
    }

    .field-nre-account-type-pannel {
      border-top: 1px dotted var(--color-interface-border-secondary);
      margin-top: 30px;
      padding-top: 30px;
    }

    .field-nreelitesavingsaccountpanel,
    .field-nreregularsavingsaccountpanel,
    .field-nrecurrentaccountpanel {
      border: 1px solid #D2D5DB;
      border-radius: 20px;
      padding: 20px;
      margin-bottom: 20px;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

      @media (min-width: 900px) {
        width: 33%;
      }

      &:hover,
      &.active {
        background-color: var(--color-interface-background-quinary);
        border: 1px solid var(--color-action-border-primary-hover);
      }

    }

    .field-elitesavingsaccount.checkbox-wrapper,
    .field-regularsavingsaccount.checkbox-wrapper,
    .field-currentaccount.checkbox-wrapper {
      display: flex;
      flex-direction: row-reverse;


      & .field-label {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        color: var(--color-interface-text-primary)
      }

      &~.plain-text-wrapper {

        p ul {

          margin: 0;
          border-top: 1px dotted var(--color-interface-border-secondary);
          padding: 30px 0 0 20px;

          @media (min-width: 900px) {
            max-width: 80%;
          }

          li {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: var(--color-input-text-primary);
          }
        }
      }
    }

  }

  /* confirm details screen */

  .field-confirmdetails {

    .field-confirmdetailsaccordion {
      .text-wrapper.field-wrapper {

        /*   width: 33%; */
        &>label.field-label {
          margin: 0;
          padding: 0;
          transition: none;
          position: inherit;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: var(--color-interface-text-secondary);
          transform: none;
          display: block;
        }

        input {
          border: none;
          margin: 0;
          padding: 0;
          width: auto;
          height: auto;
          font-size: 18px !important;
          line-height: 28px;
          font-weight: 500;
          color: var(--color-interface-background-quaternary);
          margin-top: -2px;
          position: absolute;

          &:focus-visible {
            outline: none;
          }
        }

        &[data-active="true"] {
          label {
            margin: 0;
            transform: none;
          }
        }
      }
    }

    .field-needbankhelp {
      margin-top: 20px;

      .field-bankusetoggle {
        display: flex;
        align-items: center !important;
        flex-direction: row-reverse;
        justify-content: flex-end;

        label {
          font-size: 28px;
          font-weight: 600;
          line-height: 36px;
          color: var(--color-interface-text-primary);
          flex-basis: initial;
        }
      }

      .field-lgcode,
      .field-lccode {
        position: relative;

        label.field-label {
          margin: 0 0 0 15px;
          top: 20px;
        }

        input {
          border: 1px solid var(--color-interface-border-secondary);

          &:focus-visible {
            outline: none;
          }
        }

        &[data-active="true"] {
          label.field-label {
            margin: 20px 0 0 10px;
          }
        }
      }

      .field-confirmdetailsconsent1,
      .field-confirmdetailsconsent2 {
        margin-top: 0;

        label.field-label,
        label.field-label p {
          font-size: 14px;
          font-weight: 400;
          color: var(--color-input-text-primary);
          margin-bottom: 0;
        }

        input[type="checkbox"] {
          border-radius: 5px;
          border: 2px solid #ddd;
          appearance: none;
          -webkit-appearance: none;
          outline: none;
          padding: 0;

          &:hover,
          &:checked {
            background: var(--color-interface-icon-highlight) url("../icons/checkbox-checked-arrow.png") no-repeat center center;
            border: none;
            cursor: pointer;
          }
        }
      }

      .field-confirmdetailsconsent2 {
        margin-top: -10px;
      }
    }
  }

}

@media (320px <=width <=600px) {
  .nre {
    main {
      flex-direction: column;

      .cmp-container-container {
        width: 100%;
      }

      div>div>p {
        width: 100% !important;
        text-align: center;
      }

      div p:nth-child(2) {
        display: block;
      }

      .form form p {
        font-size: 20px !important;
        line-height: 28px;
      }

      .form input[name="dateOfBirth"] {
        width: 100% !important;
        max-width: 100% !important;
        margin-top: 31px !important;
      }

      .form form .panel-wrapper.field-consentsfragmentnrenro.field-wrapper p {
        width: 330px;
      }

      .form form .field-wrapper .button-wrapper.field-submitotp {
        width: 100%;
        margin-top: 20px !important;
      }

      .form form .panel-wrapper.field-stepstofollow fieldset {
        display: flex;
        flex-direction: row;
      }

      /*  div.plain-text-wrapper.field-registermobilenumbererror {
        margin-top: 98px;
        margin-left: -391px;
      } */

      div.plain-text-wrapper.field-doberrortext.field-wrapper,
      div.plain-text-wrapper.field-panerrortext.field-wrapper {
        margin-top: 20px;
      }

      .form form .panel-wrapper.field-stepstofollow fieldset.field-step1panel {
        padding-top: 20px;

        &::before {
          content: url("../../icons/Arrow.png");
          position: absolute;
          right: 27%;
          top: 10px;
        }
      }

      .form form .panel-wrapper.field-stepstofollow fieldset img {
        height: 40px;
        width: 40px;
        max-width: 40px !important;
        padding-right: 0;
      }

      .form form .panel-wrapper.field-stepstofollow fieldset p {
        margin-bottom: 7px !important;
        margin-left: 10px;
      }

      .form form .panel-wrapper.field-stepstofollow fieldset div.plain-text-wrapper.field-wrapper {
        display: flex;
        align-items: center;
      }

      .form form .panel-wrapper.field-stepstofollow-additionalinfopanel p {
        font-size: 12px !important;
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 12px !important;
      }

      .form form .panel-wrapper.field-stepstofollow-additionalinfopanel legend {
        margin-bottom: 0;
        padding-top: 0px;
        padding-bottom: 12px;
      }

      .form form .field-wrapper.col-6.field-mobilepanel {
        margin-bottom: 20px;
      }

      /* .form .field-registeredmobilenumber input[name="registeredMobileNumber"] {
        margin-top: 20px !important;
      } */

      .field-pan {
        @media (320px <=width <=439px) {
          margin-top: 25px !important;
        }
      }

      input[name="pan"] {
        width: 100% !important;
        max-width: 100% !important;
      }

      .cmp-container-container {
        width: 100% !important;
        content: url("../../icons/nre_mobile_page_banner.png") !important;
      }

      .form form .panel-wrapper.field-stepstofollowfragment {
        .field-stepstofollowtitle p {
          margin-top: 20px;
          margin-bottom: 0 !important;
        }

        margin-top: 32px;
        background: var(--color-interface-background-quinary);
        padding: 20px;
        padding-top: 0;
        border-radius: 20px;
      }

      .form form .panel-wrapper.field-basicrequirements.field-wrapper {
        margin-top: 32px;
      }

      div.date-wrapper.field-dateofbirth.field-wrapper label {
        margin-top: 42px;
      }

      .form form .panel-wrapper.field-stepstofollow fieldset.field-step1panel {
        position: relative;

        div.image-wrapper.field-wrapper {
          @media (320px <=width <=600px) {
            margin-top: 50px;
            margin-right: 0;
            margin-left: 10px;
            height: 15px;

            position: absolute;
            content: url("../icons/mobile-number.png");
            top: -28px;
            left: -13px;
          }
        }
      }

      .form form .panel-wrapper.field-step2panel.field-wrapper {
        position: relative;

        div.image-wrapper.field-submitotpicon.field-wrapper {
          margin-top: 30px;
          margin-right: 0;
          margin-left: 10px;
          height: 15px;
          position: absolute;
          content: url("../icons/submitotp.png");
          top: -28px;
          left: -13px;
        }
      }

      .form form .panel-wrapper.field-step3panel.field-wrapper {
        position: relative;

        div.image-wrapper.field-selectaccounticon.field-wrapper {
          margin-top: 30px;
          margin-right: 0;
          margin-left: 10px;
          height: 15px;
          position: absolute;
          content: url("../icons/account.png");
          top: -28px;
          left: -13px;
        }
      }

      .form form .panel-wrapper.field-step4panel.field-wrapper {
        position: relative;

        div.image-wrapper.field-confirmdetailsicon.field-wrapper {
          margin-top: 30px;
          margin-right: 0;
          margin-left: 10px;
          height: 15px;
          position: absolute;
          content: url("../icons/confirmdetails.png");
          top: -28px;
          left: -13px;
        }
      }

      .form form .panel-wrapper.field-step5panel.field-wrapper {
        position: relative;

        div.image-wrapper.field-accountopendicon.field-wrapper {
          margin-top: 30px;
          height: 15px;
          position: absolute;
          content: url("../icons/accountopened.png");
          top: -28px;
          left: -13px;
          margin-right: 0;
          margin-left: 10px;
        }
      }

      .wizard-menu-item {
        &::before {
          border: 1.5px solid var(--color-interface-border-secondary);
          border-radius: 15px;
          color: transparent;
        }
      }

      .wizard-menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 21%;

        &::before {
          display: flex !important;
          margin-right: 0 !important;
          width: 32px !important;
          height: 32px !important;
        }

        &::after {
          right: -25px !important;
        }
      }
    }

    header {
      & .cmp-container {
        div:nth-child(1) {
          text-align: left !important;
          position: initial;
        }
      }

      .cmp-container>div:nth-child(1) {
        left: 10px;
        display: block;
      }

      .cmp-container>div:nth-child(3) {
        right: 10px;
        display: block;
      }
    }

    header {
      & .cmp-container {
        div:nth-child(1) {
          text-align: left;
        }
      }
    }

    footer {
      .cmp-container {
        height: 30px;

        div>div {
          text-align: center;
          padding: 0;
          height: 30px;
          margin-right: -5px;
          margin-left: 10px;
          padding: 5px 0;

          a {
            display: none;
          }
        }
      }
    }

    & .field-otppanelwrapper {
      & .field-otppanel {
        & .field-otphelptext {
          p {
            margin-right: 0px;
          }
        }
      }

      .field-submitotp {
        width: 100% !important;
      }

      .field-submitotp::after {
        right: 36% !important;
      }
    }
  }

  footer {
    .cmp-container {
      div>div {
        margin-left: 257px;
        text-align: center;
      }
    }
  }
}

/******* Tablet *******/

@media (768px <=width <=991px) {
  .nre {
    main {
      flex-direction: column;

      .cmp-container-container {
        width: 100%;
      }

      .panel-wrapper.field-mobilepanel.field-wrapper.col-6 {
        display: grid;
      }

      div.drop-down-wrapper.field-countrycode.field-wrapper {
        grid-column: span 6 !important;
      }

      /*     .field-registeredmobilenumber {
        grid-column: span 6 !important;
        margin-left: -292px !important;
      } */

      .form .field-registeredmobilenumber input[name="registeredMobileNumber"] {
        width: 221px !important;
      }

      .cmp-container-wrapper {
        content: url("../icons/nre-tablet-banner.png");
      }
    }

    header {
      & .cmp-container {
        div:nth-child(1) {
          text-align: left;
        }
      }
    }

    footer {
      & .cmp-container {
        div:nth-child(1) {
          text-align: center;
        }
      }
    }

    .cmp-container>div:nth-child(1) {
      display: block;
    }

    .cmp-container>div:nth-child(3) {
      right: 30px;
      display: block;
    }
  }
}